=arrangeToCenter($color , $margin_Top , $font_f, $textAlign)
    color: $color
    margin-top: $margin_Top
    font-family: $font_f
    text-align: $textAlign

    
.theMainBody
    height: auto
    background-color: $brand-darklue
    .text-col
        h1
            +arrangeToCenter($brand-red-btn, 80px, NiceYear , center)
        p
            +arrangeToCenter($brand-font, 380px, NiceYear , center)
            margin: auto
            max-width: 430px
            margin-bottom: 100px

.imgDiv
    height: auto
    box-shadow: -4px 4px 3px black
    margin: 60px
    margin-right: 90px
    margin-right: 50px
    max-width: 80%
    text-align: center
    h1
        +arrangeToCenter($brand-font, 10px , NiceYear , center)
    img
        width: 50%
    p
        +arrangeToCenter($brand-font, 380px, NiceYear , center)
        margin: auto
        max-width: 430px
        margin-bottom: 10px
    button
        width: 300px
        margin-bottom: 20px

.cars
    background-color: $brand-cars-color
    text-align: center
    button
        width: 350px
        margin-bottom: 20px
        .fs
            text-decoration: line-through

.second-body
    .row
        .bg-text
            background-color: $brand-font
            height: auto
            text-align: center
            box-shadow: -4px 4px 3px black
            h1
                +arrangeToCenter($brand-darklue, 10px , NiceYear , center)
            p
                +arrangeToCenter($brand-darklue, 380px, NiceYear , center)
                margin: auto
                max-width: 430px
                margin-bottom: 40px
            button
                width: 250px
        .bg
            img
                margin-left: 350px
                height: 400px